
/* ======================== CSS for ADS ============== */
.dp .dp-ads {
  z-index: 10;
  display: none;
  transition: all .2s;
}

.dp .dp-ads.active {
  display: block;
}

.dp .dp-ads.line {
  height: 17%;
  min-height: 40px;
  max-height: 100px;
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
}

.dp .dp-ads.full{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.dp .dp-ads .dp-ads-item{
  margin: auto;
  position: relative;
  display: block;
  max-width: 100%;
  height: 100%;
}

.dp .dp-ads.line .dp-ads-item{
  width: fit-content;
}

.dp .dp-ads.full .dp-ads-item{
  width: 100%;
}

.dp .dp-ads .dp-ads-content {
  height: 100%;
  width: 100%;
  // background-color: #ffffff;
  z-index: 1;
}

.dp .dp-ads .dp-ads-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  outline: 0;
  cursor: pointer;
  border: none;
  color: #000;
  display: none;
  height: 17px;
  width: 17px;
  padding: 0;
  line-height: 0;
  z-index: 2;
}

.dp .dp-ads.full .dp-ads-close{
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  bottom: 10%;
  width: auto;
  top: unset;
  padding: 15px 15px;
  font-size: 0.8rem;
}

.dp .dp-ads .dp-ads-close.active {
  display: inline-block;
}